$grey-text: #59606D;
$disable-test: #959DAD;
$placeholder: linear-gradient(-30deg, #bdbdbd, #f8f8f8, #bdbdbd, #f8f8f8, #bdbdbd);
$hover-text: #59606D;
$count-background: #959DAD;
$dark-text: #1F1F1F;
$yellow-text: #F2C94C;