$icons: (
  // EXAMPLE
  // icon: (
  //   width: WIDTH_IN_PIXELS,
  //   height: HEIGHT_IN_PIXELS,
  //   icon: URL_ENCODED_SVG,
  // ),
  star: (
    width: 20px,
    height: 20px,
    icon:
      "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 3.125C10.2379 3.125 10.4552 3.26005 10.5605 3.47336L12.3464 7.09154L16.3404 7.67532C16.5758 7.70972 16.7712 7.87473 16.8445 8.10098C16.9179 8.32723 16.8565 8.57552 16.6861 8.74147L13.7966 11.5559L14.4785 15.5318C14.5187 15.7663 14.4223 16.0033 14.2299 16.1432C14.0374 16.283 13.7822 16.3014 13.5716 16.1907L10 14.3124L6.42843 16.1907C6.21785 16.3014 5.96267 16.283 5.77018 16.1432C5.5777 16.0033 5.48129 15.7663 5.52151 15.5318L6.20344 11.5559L3.31394 8.74147C3.14355 8.57552 3.08213 8.32723 3.15549 8.10098C3.22885 7.87473 3.42428 7.70972 3.65963 7.67532L7.6536 7.09154L9.43958 3.47336C9.54487 3.26005 9.76213 3.125 10 3.125ZM10 5.16203L8.62921 7.93914C8.53825 8.12342 8.36251 8.25121 8.15916 8.28093L5.09278 8.72913L7.3111 10.8898C7.45852 11.0334 7.52581 11.2403 7.49102 11.4432L6.96763 14.4948L9.70911 13.0531C9.89122 12.9573 10.1088 12.9573 10.2909 13.0531L13.0324 14.4948L12.509 11.4432C12.4742 11.2403 12.5415 11.0334 12.6889 10.8898L14.9073 8.72913L11.8409 8.28093C11.6375 8.25121 11.4618 8.12342 11.3708 7.93914L10 5.16203Z' fill='%23F2C94C'/%3E%3Cpath d='M6.5 11L4 8H10H16L13.5 11V14.5L13 15.5L10 14L9 14.5L6.5 15.5V14.5V11Z' fill='%23F2C94C'/%3E%3C/svg%3E%0A",
    color: #F2C94C
  ),

  close: (
    width: 24px,
    height: 24px,
    icon:
      "data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z' fill='black'/%3E%3C/svg%3E%0A",
  )
);

$maskedIcons: (
  cart: (
    width: 34px,
    height: 33px,
    icon:
      "data:image/svg+xml,%3Csvg width='34' height='33' viewBox='0 0 34 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.84 4.48C8.06663 4.17783 8.42229 4 8.8 4H23.2C23.5777 4 23.9334 4.17783 24.16 4.48L27.76 9.28C27.9158 9.48772 28 9.74036 28 10V26.8C28 27.7548 27.6207 28.6705 26.9456 29.3456C26.2705 30.0207 25.3548 30.4 24.4 30.4H7.6C6.64522 30.4 5.72955 30.0207 5.05442 29.3456C4.37928 28.6705 4 27.7548 4 26.8V10C4 9.74036 4.08421 9.48772 4.24 9.28L7.84 4.48ZM9.4 6.4L6.4 10.4V26.8C6.4 27.1183 6.52643 27.4235 6.75147 27.6485C6.97652 27.8736 7.28174 28 7.6 28H24.4C24.7183 28 25.0235 27.8736 25.2485 27.6485C25.4736 27.4235 25.6 27.1183 25.6 26.8V10.4L22.6 6.4H9.4Z' fill='%231F1F1F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4 10C4 9.33726 4.53726 8.8 5.2 8.8H26.8C27.4627 8.8 28 9.33726 28 10C28 10.6627 27.4627 11.2 26.8 11.2H5.2C4.53726 11.2 4 10.6627 4 10Z' fill='%231F1F1F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.2 13.6C11.8627 13.6 12.4 14.1373 12.4 14.8C12.4 15.7548 12.7793 16.6705 13.4544 17.3456C14.1295 18.0207 15.0452 18.4 16 18.4C16.9548 18.4 17.8705 18.0207 18.5456 17.3456C19.2207 16.6705 19.6 15.7548 19.6 14.8C19.6 14.1373 20.1373 13.6 20.8 13.6C21.4627 13.6 22 14.1373 22 14.8C22 16.3913 21.3679 17.9174 20.2426 19.0426C19.1174 20.1679 17.5913 20.8 16 20.8C14.4087 20.8 12.8826 20.1679 11.7574 19.0426C10.6321 17.9174 10 16.3913 10 14.8C10 14.1373 10.5373 13.6 11.2 13.6Z' fill='%231F1F1F'/%3E%3C/svg%3E",    color: #1F1F1F
  ),
  card-cart: (
    width: 16px,
    height: 16px,
    icon:
      "data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.92 1.74C4.03331 1.58892 4.21115 1.5 4.4 1.5H11.6C11.7889 1.5 11.9667 1.58892 12.08 1.74L13.88 4.14C13.9579 4.24386 14 4.37018 14 4.5V12.9C14 13.3774 13.8104 13.8352 13.4728 14.1728C13.1352 14.5104 12.6774 14.7 12.2 14.7H3.8C3.32261 14.7 2.86477 14.5104 2.52721 14.1728C2.18964 13.8352 2 13.3774 2 12.9V4.5C2 4.37018 2.04211 4.24386 2.12 4.14L3.92 1.74ZM4.7 2.7L3.2 4.7V12.9C3.2 13.0591 3.26321 13.2117 3.37574 13.3243C3.48826 13.4368 3.64087 13.5 3.8 13.5H12.2C12.3591 13.5 12.5117 13.4368 12.6243 13.3243C12.7368 13.2117 12.8 13.0591 12.8 12.9V4.7L11.3 2.7H4.7Z' fill='%23959DAD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 4.5C2 4.16863 2.26863 3.9 2.6 3.9H13.4C13.7314 3.9 14 4.16863 14 4.5C14 4.83137 13.7314 5.1 13.4 5.1H2.6C2.26863 5.1 2 4.83137 2 4.5Z' fill='%23959DAD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.6 6.3C5.93137 6.3 6.2 6.56863 6.2 6.9C6.2 7.37739 6.38964 7.83523 6.72721 8.17279C7.06477 8.51036 7.52261 8.7 8 8.7C8.47739 8.7 8.93523 8.51036 9.27279 8.17279C9.61036 7.83523 9.8 7.37739 9.8 6.9C9.8 6.56863 10.0686 6.3 10.4 6.3C10.7314 6.3 11 6.56863 11 6.9C11 7.69565 10.6839 8.45871 10.1213 9.02132C9.55871 9.58393 8.79565 9.9 8 9.9C7.20435 9.9 6.44129 9.58393 5.87868 9.02132C5.31607 8.45871 5 7.69565 5 6.9C5 6.56863 5.26863 6.3 5.6 6.3Z' fill='%23959DAD'/%3E%3C/svg%3E",
    color: #959DAD
  ),
  little-chevron: (
    width: 5px,
    height: 2.5px,
    icon:
      "data:image/svg+xml,%3Csvg width='5' height='3' viewBox='0 0 5 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 0H0L2.5 2.5L5 0Z' fill='%2359606D'/%3E%3C/svg%3E",
    color: #59606D
  ),

  trash: (
    width: 32px,
    height: 32px,
    icon:
      "data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 10C6 9.44772 6.44772 9 7 9H25C25.5523 9 26 9.44772 26 10C26 10.5523 25.5523 11 25 11H7C6.44772 11 6 10.5523 6 10Z' fill='%23959DAD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 7C13.7348 7 13.4804 7.10536 13.2929 7.29289C13.1054 7.48043 13 7.73478 13 8V9H19V8C19 7.73478 18.8946 7.48043 18.7071 7.29289C18.5196 7.10536 18.2652 7 18 7H14ZM21 9V8C21 7.20435 20.6839 6.44129 20.1213 5.87868C19.5587 5.31607 18.7956 5 18 5H14C13.2044 5 12.4413 5.31607 11.8787 5.87868C11.3161 6.44129 11 7.20435 11 8V9H9C8.44772 9 8 9.44772 8 10V24C8 24.7957 8.31607 25.5587 8.87868 26.1213C9.44129 26.6839 10.2043 27 11 27H21C21.7957 27 22.5587 26.6839 23.1213 26.1213C23.6839 25.5587 24 24.7957 24 24V10C24 9.44772 23.5523 9 23 9H21ZM10 11V24C10 24.2652 10.1054 24.5196 10.2929 24.7071C10.4804 24.8946 10.7348 25 11 25H21C21.2652 25 21.5196 24.8946 21.7071 24.7071C21.8946 24.5196 22 24.2652 22 24V11H10Z' fill='%23959DAD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 14C14.5523 14 15 14.4477 15 15V21C15 21.5523 14.5523 22 14 22C13.4477 22 13 21.5523 13 21V15C13 14.4477 13.4477 14 14 14Z' fill='%23959DAD'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 14C18.5523 14 19 14.4477 19 15V21C19 21.5523 18.5523 22 18 22C17.4477 22 17 21.5523 17 21V15C17 14.4477 17.4477 14 18 14Z' fill='%23959DAD'/%3E%3C/svg%3E ",
    color: #959DAD
    )
);

.icon {
  display: block;
}

@each $label, $icon in $icons {
  .icon-#{$label} {
    width: map-get($icon, width);
    height: map-get($icon, height);
    background-image: url(map-get($icon, icon));
  }
}

@each $label, $icon in $maskedIcons {
  .icon-#{$label} {
    width: map-get($icon, width);
    height: map-get($icon, height);
    background-color: map-get($icon, color);
    -webkit-mask-image: url(map-get($icon, icon));
    mask-image: url(map-get($icon, icon));
  }
}

.icon.flip-x {
  transform: scaleX(-1);
}

.icon.flip-y {
  transform: rotate(180deg);
}
